/* Add CSS styling here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
  
  
}



h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
}
h4{
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
}
.home{
    border: 1px solid red;
    text-align: center;
    width: 7%;
    padding: 5px;
    border-radius: 10px
}
.about{
    border: 1px solid red;
    text-align: center;
    width: 7%;
    padding: 5px;
    border-radius: 10px
}
.contact{
    border: 1px solid red;
    text-align: center;
    width: 7%;
    padding: 5px;
    border-radius: 10px
}
.projects{
    border: 1px solid red;
    text-align: center;
    width: 7%;
    padding: 5px;
    border-radius: 10px
}

.subtitle{
    display: flex;
    justify-content: center;
}
.subtext{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.image{
    display: flex;
    justify-content: center;
}

.picc{
    width: 100%;
}



.flexpractice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-around;
    
}
.description{
    display: flex;
    justify-content: center;
    width: 20%;
    order: -1;
    font-size: 22px;
    text-align: center;
}

.flat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 80%;
}

.song{
    width: 18%;
}

.song2{
    width: 18%;
}

.song3{
    width: 18%;
}

.song4{
    width: 18%;
}
footer{
    background: red;
}

.contactme{
    display: flex;
    justify-content: center;
}

.contactlink{
    display: flex;
    justify-content: center;
    background: black;
    width: 10%;
    padding: 15px;
    border-radius: 10px;
}
footer nav a{
    font-size: 1.5rem;
    color: white;
}

.subtext h4{
    width: 80%;
}

@media(prefers-reduced-motion: reduce){
    background{
        display: none;
    }
}

@media(max-width: 800px){
    h1{
        font-size: 6rem;
    }
    .links{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
    .home, .about, .contact, .projects{
        width: 30%;
        border-radius: 0px;
        justify-content: center;
        margin: 1%;
        
    }
    nav a{
        text-decoration: none;
        font-size: 2.3rem;
    }
    .subtitle h2{
        font-size: 3rem;
    }
    .subtext h4{
        width: 70%;
        font-size: 1.3rem;
        text-align: center;
    }
    .picc{
        width: 85%;
    }
    .flexpractice{
        flex-wrap: wrap;
    }
    .description{
        width: 85%;
        order: 1;
        text-align: center;
        margin: 5%;
    }
    .flat{
        flex-wrap: wrap;
        width: 89.4%;
       
    }
    .song, .song2, .song3, .song4{
        width: 45%;
        margin: 1%;
    }
    .contactlink{
        width: 20%;
    }
  
}

@media(max-width: 500px){
    body {

        background: url("https://media3.giphy.com/media/3oEhmP1i8wzdgx2vrW/source.gif");
            background-size: 30000px 1000px;
            background-position: center;
        }
    h1{
        text-align: center;
        color: white;
    }
    h2{
        color: aqua;
    }
    h4{
        color: white;
    }
    nav a{
        color: white;
    }
    .contactlink{
        width: 35%;
    }
    .description{
        color: rgb(250, 227, 219);
    }
}